.navbar {
    position: absolute;  /* Ensures it's on top without affecting layout */
    top: 0;
    left: 0;
    width: 99%;
    height: 40px; /* Adjust height as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 15px;
    background: linear-gradient(to right, #B1B695, #53917e);
    font-family: "Poppins", sans-serif;
}

  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .auth-buttons .btn {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
  }
  
  .btn-primary {
    background: #B1B695;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  